*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root{
    --bg-img:url(./img/ebony.jpg)
}

 body{
    height: 100vh;
    display: flex;
    align-items: center;
    object-fit: cover;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;

    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.container input{
    font-family: monospace;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 30rem;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
}

.botoes button{
    background-color: black; 
    color: white;
    border-radius: 10px;
    font-family: monospace;
    margin-top: 5px;
    margin-right: 5px;
    padding: 12px;
    border: 0;
    
}

.imagem{
    display: flex;
    width: 60%;
    height: 100%;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

